@font-face {
    font-family: undertale;
    src: url(/fonts/undertale.ttf);
}

body {
    font-size: 22px;
    font-family: "undertale", sans-serif;
}

.background {
    user-select: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: pixelated;
}
